$link_color: #336699
$text_color: #000
$meta_text_color: #9a9a9a

$max_width: 900px

@mixin body_element
  margin-left: auto
  margin-right: auto
  width: 90%
  max-width: $max_width

@mixin shadow($size)
  -moz-box-shadow: 0 0 $size #000
  -webkit-box-shadow: 0 0 $size #000
  box-shadow: 0 0 $size #000

a
  color: $link_color
  text-decoration: none

  &:hover
    text-decoration: underline

body
  background: #99ccdd url('/images/tile.png') repeat
  color: $text_color
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 11pt
  margin: 0
  padding: 0

h2, h3
  color: $text_color
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 200
  padding: 0 6px

h2
  font-size: 34px

h3
  font-size: 24px

input[type="text"], input[type="password"]
  width: 80%
  padding: 7px
  border: 1px solid #ccc
  background-color: #ddeeff
  background-color: #e8e8d0
  background: -moz-linear-gradient(center top,#e8e8d0,#ddeeff 25%)
  background: -webkit-gradient(linear,center top,center bottom,color-stop(0,#e8e8d0),color-stop(0.25,#ddeeff))

input[type="submit"]
  font-size: 20px
  padding: 6px 20px 8px
  font-weight: normal
  text-shadow: 0 -1px 1px rgba(0,0,0,0.3)
  cursor: pointer
  color: #fff
  border: 1px solid #390
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  background-color: #98cc33
  background: -moz-linear-gradient(center top,#98cc33,#359a01 100%)
  background: -webkit-gradient(linear,center top,center bottom,color-stop(0,#98cc33),color-stop(1,#359a01))

  &:hover
    background: -moz-linear-gradient(center top,#b8ec53,#359a01 100%)
    background: -webkit-gradient(linear,center top,center bottom,color-stop(0,#98cc33),color-stop(1,#359a01))

.clear
  clear: both

.hide
  display: none

#header_wrapper
  height: 45px
  overflow: hidden

.flash
  background: #fff
  margin-top: 30px
  margin-bottom: 30px
  @include body_element
  @include shadow(10px)

  .content, .content_good
    border: 12px solid #f00
    padding: 12px

  .content_good
    border: 12px solid #0a0

#header
  color: #fff
  height: 40px
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.08, rgb(76,68,90)), color-stop(0.61, rgb(0,0,0)))
  background: -moz-linear-gradient(center top, rgb(76,68,90) 8%, rgb(0,0,0) 61%) 
  @include shadow(5px)

  #header_content
    font-size: 9pt
    @include body_element

    h1
      color: #fff
      font-size: 34px
      font-weight: 100
      text-transform: lowercase
      float: left
      margin: 0
      padding: 0 12px 0 0

    #nav

      ul
        list-style-type: none
        margin: 0
        padding: 0

        li, li.current
          line-height: 38px
          float: left

          a, span
            display: block
            margin: 0
            padding: 0 14px

          &:hover
            background: #000

        li.current
          background: #000
          font-weight: bold

    #login_status
      float: right

      p
        line-height: 38px
        margin: 0
        padding: 0

#wrapper
  background: #fff
  @include body_element
  @include shadow(10px)
  margin-top: 30px
  margin-bottom: 30px
  overflow: hidden

  $common_border: 1px solid #ccc

  div.categories_wrapper
    border-top: $common_border

  div#fact
    background: #f3f3f3
    font-size: 18pt
    font-weight: 200
    margin: 18px
    padding: 18px

    &:hover
      background: #ddeeff

    p
      margin: 0 0 8px 0

    .meta
      color: $meta_text_color
      font-size: 10pt

  div#content
    margin: 26px 26px
    
    div#document
      background: #f3f3f3
      padding: 6px 18px

    div#login

      fieldset.inputs
        background: #f3f3f3
        border: 0
        margin: 0 0 8px 0

        ol
          list-style-type: none
          margin: 0
          padding: 0

          li

      input[type="text"], input[type="password"]
        font-size: 16px
        margin: 0 0 8px

      .informative
        color: #aaa

  p.ancestors
    font-size: 16px
    font-weight: 200
    margin: 26px 26px 0 26px
    padding: 0 0 0 6px
    overflow: hidden

  ul.actions, ul.categories, ul.facts
    padding: 0 0 0 30px

  ul.actions
    list-style-type: none

  ul#root
    border-left: 0
    margin: 0

  ul.categories
    border-left: $common_border
    margin: 0 0 0 34px
    padding: 0
    list-style-type: none

    li.category
      color: $meta_text_color
      border-bottom: $common_border
      overflow: hidden
      margin: 0

      &:hover
        color: $text_color

      h2, h3
        margin: 8px 0 0 0

      .standin
        cursor: pointer

      .standin_header
        color: #6a6a6a

      a.permalink
        margin-left: 10px !important

      .meta
        font-size: 8pt
        margin: 0 0 8px 0
        padding: 0 6px

        a.category_tool
          margin-top: 20px
          display: none
          margin: 0 0 0 8px
          padding: 0 0 0 16px

        a.tool_hide
          background: transparent url('/images/tool_hide.png') no-repeat scroll 0 1px

        a.tool_new
          background: transparent url('/images/tool_new.png') no-repeat scroll 0 1px

        a.tool_permalink
          background: transparent url('/images/tool_permalink.png') no-repeat scroll 0 1px

        span.count
          float: left

    li.root_category
      padding: 10px 26px 22px 26px

    .last
      border: 0 !important

  ul.facts
    padding: 0
    list-style-type: none
    
    li.fact
      background: #f3f3f3
      color: $meta_text_color
      border-top: $common_border
      overflow: hidden
      padding: 14px 18px
      
      &:hover
        background: #ddeeff

      .meta
        font-size: 8pt
        margin: 0
        padding: 0

        a.fact_tool
          display: none
          margin: 0 0 0 8px
          padding: 0 0 0 16px

        a.tool_permalink
          background: transparent url('/images/tool_permalink.png') no-repeat scroll 0 1px

        span.age
          float: left

      p
        color: $text_color
        margin: 0 0 4px 0

  ul.form_inputs
    list-style-type: none
    padding: 0

