$text_color: #000

body
  background: #4477aa
  color: $text_color
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 11pt

.clear
  clear: both

.hide
  display: none

#wrapper
  background: #fff
  margin: 0 auto
  width: 90%
  max-width: 900px

  a.tool, a.tool:visited, a.tool:hover
    color: $text_color
    text-decoration: none
    margin: 0 0 0 8px

  a.tool:hover
    text-decoration: underline

  $common_border: 1px solid #ccc

  div.categories_wrapper
    border-top: $common_border

  ul.actions, ul.categories, ul.facts
    padding: 0 0 0 30px

  ul.actions
    list-style-type: none

  ul#root
    border-left: 0
    margin: 0

  ul.categories
    border-left: $common_border
    margin: 0 0 0 34px
    padding: 0
    list-style-type: none

    li.category
      color: #9a9a9a
      border-bottom: $common_border
      overflow: hidden
      margin: 0

      &:hover
        color: $text_color

      h2, h3
        color: $text_color
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
        font-weight: 200
        margin: 8px 0 0 0
        padding: 0 6px

      h2
        font-size: 34px

      h3
        font-size: 24px

      .standin
        cursor: pointer

      .standin_header
        color: #6a6a6a

      a.permalink
        margin-left: 10px !important

      .meta
        font-size: 8pt
        margin: 0 0 8px 0
        padding: 0 6px

        a.category_tool
          margin-top: 20px
          display: none

        span.count
          float: left

    .last
      border: 0 !important

  ul.facts
    padding: 0
    list-style-type: none
    
    li.fact
      background: #f3f3f3
      color: #9a9a9a
      border-top: $common_border
      overflow: hidden
      padding: 14px 18px
      
      &:hover
        background: #ddeeff

      .meta
        font-size: 8pt
        margin: 0
        padding: 0

        a.fact_tool
          display: none

        span.age
          float: left

      p
        color: $text_color
        margin: 0 0 4px 0

  ul.form_inputs
    list-style-type: none
    padding: 0

