.clear
  clear: both

.hide
  display: none

.standin
  clear: both
  cursor: pointer

a.tool, a.tool:visited, a.tool:hover
  color: #fff
  background: #6699bb
  border: 1px solid #40404c
  cursor: pointer
  font: normal 8px "Trebuchet MS", sans-serif
  margin-left: 2px
  margin-right: 2px
  padding: 0 3px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  -moz-box-shadow: rgba(0,0,0,.42) 1px 1px 4px
  -webkit-box-shadow: rgba(0,0,0,.42) 1px 1px 4px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  -webkit-transition: background-color .2s ease
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.65, rgba(255,255,255, .01)), to(rgba(255,255,255, .2)))

a.tool:hover
  background: #336699
  border: 1px solid #ccc

ul.actions, ul.categories, ul.facts
  padding: 0 0 0 30px

ul.actions
  list-style-type: none

ul.categories
  margin: 0
  list-style-type: none

  .category h2, .category h3
    margin: 14px 0 0 0
    padding: 0
    height: 26px
    float: left
    vertical-align: bottom

  .category a.actions_expand, .category a.permalink
    margin-top: 20px
    float: left

  .category a.permalink
    margin-left: 10px !important

ul.form_inputs
  list-style-type: none
  padding: 0

