- content_for :title, 'About'
#wrapper
  #content
    %h2 About
    #document
      %p Many of us are driven to learn. We read books, magazines, and journals, go to talks, watch documentaries, marathon TED, and generally consume media our entire lives in an effort to attain our goal of knowing. But the mind is a fickle thing, and our memory betrays us, letting most of our hard-earned learning vanish into the aether.

      %p I built Facts as a way of remembering. Under Facts, information is broken down into memorable pieces known as "facts", categorized into a hierarchy, then put into the system using a web interface or the accompanying command-line client. The act of categorizing and manually entering information will help the memorization process, and from there memories are solidified by reviewing a set of randomly chosen facts daily.

      %p Facts is currently either a single-user system, or a multi-user system where users collaborate to build a single database of facts that's reviewed by all. No option exists for building multiple sets of isolated facts databases under a single installation, but it may exist down the road.

      %p= raw "The #{link_to('Facts source', 'http://github.com/fyrerise/facts')} is available on GitHub under an open license so that you can deploy your own installation. My name is <strong>Brandur</strong> (also known as <strong>fyrerise</strong>) and you should #{link_to('follow me on Twitter', 'http://twitter.com/fyrerise')} for updates and other interesting information. I also like getting mail. My contact information is available on #{link_to('my website', 'http://brandur.org')}."

      %p Welcome to Facts, your secret weapon for winning arguments.
