.category_tools
  = link_to "Permalink", category, :class => [ :tool_permalink, :tool, :category_tool ]
  - if authorized?(category)
    %a.tool_new.actions_expand.tool.category_tool{ :href => 'javascript:' } New fact/category
  - if !defined?(can_hide) || can_hide
    %a.tool_hide.hide_content.tool.category_tool{ :href => 'javascript:' } Hide
  %ul.actions.hide
  .clear
