#wrapper
  %ul.categories#root
    - @categories.each do |category|
      %li{ :class => category == @categories.last ? 'category last' : 'category' }
        %h2= category.name
        .meta
          %span.count= count_str(category)
          = render :partial => 'tools', :locals => { :category => category, :can_hide => false }
        = render :partial => 'category', :locals => { :category => category }
