.clear
%li
  .new_fact_form
    = render :partial => 'facts/form', :locals => { :fact => Fact.new(:category_id => @category.id) }
%li
  .new_category_form
    = render :partial => 'form', :locals => { :category => Category.new(:category_id => @category.id) }
%li
  %a.cancel{ :href => 'javascript:' } Cancel
